<div class="header">
  <div id="togle-menu" class="icon-menu">

  </div>
  <div id="nav-menu" class="nav-menu">
    <ul class="menu-main">
      <li class="menu-item">
        <a href="#" class="menu-item__link">Home</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'recepcion_app:list-magazine' %}" class="menu-item__link">Registro Diario</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'recepcion_app:add-guide' %}" class="menu-item__link">Registro Guia</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'caja_app:add-payment' %}" class="menu-item__link">Cobranza</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-item__link">Reportes</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-item__link">Administracion</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-item__link__active">Salir</a>
      </li>
    </ul>
  </div>
  <a href="#" class="nav-menu___logo">DPP</a>
  <a href="#" class="icon-logout"></a>
</div>
<div class="space_head">

</div>
