{% extends "caja/base_caja.html" %}

{% block title %}Registrar Pago{% endblock title %}

{% block content %}
  {% include "include/header.html" %}
  <div class="main-card" ng-app="DppApp" ng-controller="CobrosCtrl as self">
    <div class="caja-search grid-x grid-padding-x">
      <div class="small-8 medium-9 large-4 cell">
        <input type="text" placeholder="Numero de guia"
          ng-keypress="vm.enter($event)" ng-model="self.codigo"
        >
      </div>
      <div class="small-4 medium-3 large-2 cell">
        <button type="button" name="button" class="search-button" ng-click="self.cargar_movimientos(self.codigo)">
          <span class="icon-search"></span>
        </button>
        <button type="button" name="button" class="search-button search-button__delete">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="small-11 medium-9 large-12 cell">
        <div class="callout success search-agente">
          <h5 class="search-agente__name">{$ self.vendedor $}</h5>
        </div>
      </div>
    </div>

  <div id="grid1" ui-grid="self.gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-exporter class="grid callout"></div>

    <div class="caja-result">
      <div class="caja-amount">
        <h3 class="caja-amount__cobrar">S/. 12.00</h3>
        <h3 class="caja-amount__deuda">S/. 12.00</h3>
      </div>
      <div class="caja-btns">
        <button type="button" name="button" class="caja-btn caja-btn__print">
          <span class="icon-print"></span>
        </button>
        <button type="button" name="button" class="caja-btn caja-btn__save">
          <span class="icon-save"></span>
        </button>
        <button type="button" name="button" class="caja-btn caja-btn__close">
          <span class="icon-close"></span>
        </button>
      </div>
    </div>
  </div>
{% endblock content %}
